anyio==3.3.1
async-generator==1.10
certifi==2021.5.30
charset-normalizer==2.0.5
cycler==0.10.0
idna==3.2
ipython-genutils==0.2.0
jupyter-client==6.1.12
jupyter-server==1.11.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
requests==2.26.0
requests-unixsocket==0.2.0
sniffio==1.2.0
urllib3==1.26.6
voila==0.2.13
webencodings==0.5.1
websocket-client==1.2.1
