absl-py==0.11.0
anyio==3.3.1
appnope==0.1.0
argon2-cffi==21.1.0
arviz==0.11.0
asn1crypto==0.24.0
astor==0.8.0
astroplan==0.6
astropy @ file:///Users/runner/miniforge3/conda-bld/astropy_1631280656710/work
astroquery==0.3.10
astunparse==1.6.3
attrs==19.1.0
autograd==1.2
backcall==0.1.0
basemap==1.2.0
batman-package==2.4.7
beautifulsoup4==4.8.2
bleach==3.1.0
bokeh==2.2.3
bs4==0.0.1
cachetools==4.1.0
Cartopy==0.18.0
celerite2==0.1.0
certifi==2021.5.30
cffi==1.12.3
cftime==1.4.1
chardet==3.0.4
click==7.1.2
clipboard==0.0.4
cloudpickle==1.2.1
colorcet==2.0.6
configparser==5.0.2
corner==2.1.0
cryptography==2.7
cycler==0.10.0
cytoolz==0.9.0.1
dask==2021.9.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datashader==0.12.1
datashape==0.5.4
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.3
distributed==2.5.2
eleanor==2.0.0
elisa==0.5.dev0
emcee==3.0.1
entrypoints==0.3
ephem==3.7.7.1
fastprogress==1.0.0
fbpca==1.0
ffmpeg==1.4
filelock==3.0.12
fitsio==1.0.5
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1621629915293/work
flatbuffers==1.12
fsspec==2021.8.1
future==0.17.1
gast==0.2.2
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
gsl==0.0.3
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
humanize==1.0.0
idna==2.8
imageio==2.5.0
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1630267512322/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jedi==0.14.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
joblib==0.13.2
jplephem==2.15
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-bokeh==3.0.2
jupyter-client==6.1.12
jupyter-console==6.0.0
jupyter-core==4.7.1
jupyter-server==1.11.0
jupyterlab==2.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
jupyterlab-widgets==1.0.2
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.1.0
kiwisolver==1.1.0
libmagic==1.0
lightkurve==2.0.10
linalg==1.0.4
llvmlite==0.34.0
locket==0.2.0
lpproj==0.1
lxml==4.5.0
Mako==1.0.10
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455729133/work
matplotlib==3.3.2
memoization==0.3.2
mesa-reader==0.3.0
metric-learn==0.6.2
mistune==0.8.4
more-itertools==8.1.0
mplcursors==0.2.1
mpldatacursor==0.7.1
msgpack==0.6.2
muchbettermoments==1.0.0
multipledispatch==0.6.0
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
netCDF4==1.5.5.1
networkx==2.3
notebook==5.7.8
numba==0.51.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1629092090230/work
oauthlib==3.1.0
oktopus==0.1.2
olefile==0.46
opt-einsum==3.3.0
OrbitalPy==0.7.0
OWSLib==0.18.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==1.3.3
pandocfilters==1.4.2
panel==0.9.7
panoptes-client==1.2.0
panoptescli==1.1.2
param==1.11.1
parmap==1.5.2
parso==0.5.0
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pathvalidate==0.29.1
patsy==0.5.1
pexpect==4.7.0
photutils==0.7.2
pickleshare==0.7.5
Pillow==8.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.14.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1618863837832/work
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAstronomy==0.14.0
pybind11==2.6.2
pycparser==2.19
pyct==0.4.8
pyepsg==0.4.0
pyerfa @ file:///Users/runner/miniforge3/conda-bld/pyerfa_1623067870983/work
pyfits==3.5
Pygments==2.4.2
PyGnuplot==0.11.16
pygpu==0.7.6
pykdtree==1.3.1
pymc3==3.11.0
pymc3-ext==0.0.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.7.0
pypex==0.1.0
pyproj==1.9.6
pyrsistent==0.15.2
pyshp==2.1.0
PySocks==1.7.0
python-dateutil==2.8.0
python-magic==0.4.18
pytz==2019.1
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1625215435439/work
PyWavelets==1.0.3
PyYAML==5.4.1
pyzmq==18.0.2
qtconsole==4.5.1
Quandl @ file:///Users/runner/miniforge3/conda-bld/quandl_1602639876526/work
rebound==3.15.0
reboundx==3.2.0
redo==2.0.4
Represent==1.6.0
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.0
scikit-image==0.15.0
scikit-learn==0.24.2
scipy==1.3.3
Send2Trash==1.5.0
setuptools-scm==6.2.0
sgp4==2.7
Shapely==1.6.4.post2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
sniffio==1.2.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve==1.9.4
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.12.1
tess-point==0.3.9
tess-waldo==1.0.2
testpath==0.4.2
Theano==1.0.4
Theano-PyMC==1.1.0
threadpoolctl==2.1.0
ticgen==1.0.4
ticinfo==0.2.2
tomli==1.2.1
toolz==0.9.0
torch==1.7.0
tornado==6.1
tqdm==4.62.2
traitlets==5.1.0
transitleastsquares==1.0.26
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
uncertainties==3.1.5
urllib3==1.25.3
vaneska==0.0.dev0
voila==0.2.13
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
widgetsnbextension==3.5.0
wotan==1.0.6
wrapt==1.12.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1627222030860/work
zict==2.0.0
zipp==2.0.0
